@using MvcKutuphanem.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLUYELER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üye İşlemleri</h2>

<div style="margin-bottom:15px; margin-top:15px;"></div>

<table class="table table-striped">
    <tr style="background-color:rgb(252, 178, 22)">
        <th>ÜYE NO</th>
        <th>ÜYE ADI</th>
        <th>ÜYE SOYADI</th>
        <th>OKUL</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>ÜYE KİTAP GEÇMİŞİ</th>
    </tr>
    @foreach (var uye in Model)
    {
        <tr>
            <td>@uye.ID</td>
            <td>@uye.AD</td>
            <td>@uye.SOYAD</td>
            <td>@uye.OKUL</td>
            <td>@Html.ActionLink("Sil", "UyeSil", new { id = uye.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor Musunuz?')" })</td>
            <td><a href="/Uye/UyeGetir/@uye.ID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Uye/UyeKitapGecmis/@uye.ID" class="btn btn-default" style="background-color:lightseagreen; color:darkblue">Kitap Geçmişi</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a href="/Uye/UyeEkle/" class="btn btn-primary">Yeni Üye Ekle</a>


