@model MvcKutuphanem.Models.Entity.TBLKITAP
@{
    ViewBag.Title = "KitapGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("KitapGuncelle", "Kitap", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <div style="margin-bottom:15px">
            <label>Kitap ID</label>
            @Html.TextBoxFor(y => y.ID, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kitap Adı</label>
            @Html.TextBoxFor(y => y.AD, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kitap Kategorisi</label>
            @Html.DropDownListFor(k => k.TBLKATEGORI.ID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kitap Yazarı</label>
            @Html.DropDownListFor(k => k.TBLYAZAR.ID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kitap Basım Yılı</label>
            @Html.TextBoxFor(y => y.BASIMYIL, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kitap Yayın Evi</label>
            @Html.TextBoxFor(y => y.YAYINEVİ, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kitap Sayfa Sayısı</label>
            @Html.TextBoxFor(y => y.SAYFA, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kitap Görseli</label>
            @Html.TextBoxFor(y => y.KITAPRESIM, new { @class = "form-control" })
        </div>
        <button class="btn btn-warning">Kitap Bilgilerini Güncelle</button>
        @*<input type="hidden" name="Durum" value="True" />*@
    </div>
}

